  <!-- Additional Text Below Plans -->
  <div class="card border-primary">
    <div class="text-center mt-4">
      <p class="lead">
        Pro Max and Enterprise Plans, starting at <strong>$499 a month</strong>. 
        <a href="#" class="btn btn-link">Learn More</a>
      </p>
    </div>
  </div>