<section class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-4">Frequently Asked Questions</h2>
    <div class="row">
      <!-- Question 1 -->
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">What is the source of the views?</h5>
            <p class="card-text">A Google Ads campaign that places your video next to videos similar to yours on the YouTube homepage, search results, and related videos.</p>
          </div>
        </div>
      </div>
      <!-- Question 2 -->
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">How do I cancel my subscription?</h5>
            <p class="card-text">You can easily cancel your campaign by logging into the dashboard and clicking cancel.</p>
          </div>
        </div>
      </div>
      <!-- Question 3 -->
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">What plan should I choose?</h5>
            <p class="card-text">The best plan to start with is the Standard plan, this will help you get started with our service and growing your channel.</p>
          </div>
        </div>
      </div>
      <!-- Question 4 -->
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Does the cost of the plan include all costs?</h5>
            <p class="card-text">Yes, their is no additional costs, the plan includes Ad Spend and our fee. About 80% is spent directly on the campaign with YouTube 
              and 20% kept as our fee.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">What do I need to start?</h5>
            <p class="card-text">You only need the link to your YouTube video, we do not need any access to your account.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">How can I contact you?</h5>
            <p class="card-text">You can reach us through email at support@surgeviewmarketing.com or through direct message at +1 (508) 952-0755.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>