    <!-- Header Section -->
    <header class="bg-light">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container no-links-navbar">
          <a class="navbar-brand" href="#">
            <img src="public\surge_view_new_cropped_transparent.png" alt="Logo" class="d-inline-block logo align-text-top">
          </a>
            <button class="btn btn-primary">Login</button>
        </div>
      </nav>
    </header>