
<section id="pricing" class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-4">Pricing</h2>
    <h5 class="text-center mb-4"> Each plan offers reliable and consistent views growth for your channel. Choose the level of campaign that best works for you.</h5>
    <div class="row text-center">
      <!-- Basic Plan -->
      <div class="col-md-4 mb-4">
        <div class="card border-primary">
          <div class="card-body">
            <h3 class="card-title">Standard</h3>
            <h5 class="card-price">$99 / month</h5>
            <p class="card-text">Get started with real, advanced YouTube growth</p>
            <ul class="list-unstyled pricing-bullet-points">
              <li>✅ 3,750 to 5,000 Views a Month</li>
              <li>✅ 100% Real Views </li>
              <li>✅ Subscribers, Likes, and Comments from Interested Viewers</li>
              <li>✅ Official Google Ads Platform</li>
              <li>✅ Includes Ad Spend and Fee</li>
              <li>✅ Fully Managed</li>
              <li>✅ Dashboard for Account Management</li>
            </ul>
            <a href="/signup-details?plan=Standard" class="btn btn-primary">Select Plan</a>
          </div>
        </div>
      </div>
      <!-- Standard Plan -->
      <div class="col-md-4 mb-4">
        <div class="card border-primary">
          <div class="card-body">
            <h3 class="card-title">Premium</h3>
            <h5 class="card-price">$199 / month</h5>
            <p class="card-text">Upgrade your channel growth and reach 2x as many people.</p>
            <ul class="list-unstyled pricing-bullet-points">
              <li>✅ 7,500 to 11,000 Views a Month</li>
              <li>✅ 100% Real Views </li>
              <li>✅ Subscribers, Likes, and Comments from Interested Viewers</li>
              <li>✅ Official Google Ads Platform</li>
              <li>✅ Includes Ad Spend and Fee</li>
              <li>✅ Fully Managed</li>
              <li>✅ Dashboard for Account Management</li>
            </ul>
            <a href="/signup-details?plan=Premium" class="btn btn-primary">Select Plan</a>
          </div>
        </div>
      </div>
      <!-- Premium Plan -->
      <div class="col-md-4 mb-4">
        <div class="card border-primary">
          <div class="card-body">
            <h3 class="card-title">Pro</h3>
            <h5 class="card-price">$399 / month</h5>
            <p class="card-text">For serious creators looking for optimal growth.</p>
            <ul class="list-unstyled pricing-bullet-points">
              <li>✅ 10,600 to 17,500 Views a Month</li>
              <li>✅ 100% Real Views </li>
              <li>✅ Subscribers, Likes, and Comments from Interested Viewers</li>
              <li>✅ Official Google Ads Platform</li>
              <li>✅ Includes Ad Spend and Fee</li>
              <li>✅ Fully Managed</li>
              <li>✅ Dashboard for Account Management</li>
            </ul>
            <a href="/signup-details?plan=Pro" class="btn btn-primary">Select Plan</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>