

html, body {
  font-family: 'Roboto', sans-serif; /* Replace with your desired font */
}

/* Ensure all Ant Design components use the same font */
.ant-typography, .ant-btn, .ant-input, .ant-form, .ant-menu {
  font-family: 'Roboto', sans-serif !important;
}


.dashboard-button {
  margin-top: 15px;
}

.excel-table {
  border-collapse: collapse;
  width: 100%;
}

.excel-header {
  background-color: #f0f0f0; /* Light gray background for headers */
  font-weight: bold;
  text-align: left; /* Align text to the left */
  border-bottom: 2px solid #d9d9d9; /* Bottom border */
}

.excel-row {
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.excel-row:hover {
  background-color: #e6f7ff; /* Light blue background on hover */
}

/* .ant-table-cell {
  padding: 16px;
  border: 1px solid #d9d9d9;
  text-align: left; 
}

.ant-table-cell:last-child {
  border-right: none; 
} */

.row-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
